<div class="page-head">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <h2>Lanzar Evaluaciones</h2>
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Evaluación</a></li>
                <li class="active">Lanzar Evaluaciones</li>
            </ol>
        </div>

        <div class="col-sm-2 col-md-2">
            <div class="command-head">
                <button type="button" class="btn btn-primary btn-flat md-close md-trigger" onclick="$('#modal-tab-not').niftyModal('show');">Nueva Evaluación</button>
            </div>
        </div>
    </div>

</div>

<div class="cl-mcont">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="block">
                <div class="content no-padding ">
                    <ul class="items">
                        <li ng-repeat="evaluacion in evaluaciones" on-finish-render="initChart()">
                            <div class="block">
                                <div class="col-sm-2 col-md-2 text-center">

                                        <i class="fa fa-file-text"></i>
                                        <span class="value">Evaluaci&oacute;n No. {{evaluacion.eval_codigo}}</span>

                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="value">{{evaluacion.eval_evaluados}}</span>
                                    <small>Evaluados</small>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="value">{{evaluacion.eval_evaluaciones}}</span>
                                    <small>Evaluaciones</small>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="value">{{evaluacion.eval_finalizadas}}</span>
                                    <small>Evaluaciones<br>Finalizadas</small>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="epie-chart" data-percent="{{(evaluacion.eval_finalizadas/evaluacion.eval_evaluaciones)*100}}"><span>{{(evaluacion.eval_finalizadas/evaluacion.eval_evaluaciones)*100}}%</span></div>
                                </div>

                                <div class="col-sm-1 col-md-1">
                                    <span class="label label-primary">{{evaluacion.eval_estado | estadoLanzarevaluacion}}</span>
                                </div>

                                <div class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="eliminaEvaluacion(evaluacion.eval_codigo)">Cerrar<br> Evaluaci&oacute;n</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Nifty Modal -->
        <div class="md-modal colored-header custom-width md-effect-9" id="modal-tab-not">
            <div class="md-content">
                <div class="modal-header">
                    <h3>Lanzar Evaluaci&oacute;n</h3>
                    <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body form">
                    <form id="frmNoti" enctype="multipart/form-data">
                        <input type="text" value="" name="txtCodiNoti" style="display:none"/>
                        <div class="tab-container">
                            <!--<ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home" id="tabHome">Datos General</a></li>
                                <li class=""><a data-toggle="tab" href="#profile" id="tabProfile">Datos Específicos</a></li>
                                <li class=""><a data-toggle="tab" href="#listado" id="tabListado">Listado</a></li>
                            </ul>-->
                            <div class="tab-content" style="width:500px;height:400px;overflow-y:scroll;">
                                <div id="home" class="tab-pane cont active">
                                    <input type="hidden" value="" ng-model="formEval.usuario">
                                    <input size="16" type="hidden" ng-model="formEval.fecharegistro">
                                    <div class="form-group">

                                        <label>Peso Competencias Pedag&oacute;gico Did&aacute;cticas <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="textbox" class="form-control" ng-model="formEval.pesocomppeda" onkeypress="return controla_digitacion_decimal(event, this, 0)">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Peso Valores Organizacionales <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="textbox" class="form-control" name="txtTitulo" ng-model="formEval.pesocomporga" onkeypress="return controla_digitacion_decimal(event, this, 0)">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Inicio <span class="text-danger">*</span></label>
                                        <div class="input-group date datetime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" readonly name="cboFecha" ng-model="formEval.fechainicio">
                                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Fin <span class="text-danger">*</span></label>
                                        <div class="input-group date datetime" data-min-view="2" data-date-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" readonly name="cboFecha" ng-model="formEval.fechafin">
                                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado <span class="text-danger">*</span></label>
                                        <select class="form-control insdustrias" name="cboEstado" ng-model="formEval.estado">
                                            <option value="A">Abierto</option>
                                            <option value="I">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary btn-flat" ng-click="registarevaluacion()" data-dismiss="modal" id="registrar_noticias">Registrar</button>
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" id="btnActualizarOrden" style='display:none;'>Actualizar Orden</button>
            </div>
        </div>
    </div>

    <!-- Nifty Modal -->
    <div class="md-modal colored-header custom-width md-effect-9" id="modal-tab-bol">
        <div class="md-content">
            <input type="hidden" name="txtCodigoBoletin">
            <form role="form">
                <div class="modal-header">
                    <h3 id="h3Boletin">Nuevo Boletin</h3>
                    <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body form">
                    <div class="form-group">
                        <label>Fecha <span class="text-danger">*</span></label>
                        <div class="input-group date datetime" data-min-view="2" data-date-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="" name="txtFecha" id="txtFecha" readonly>
                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cliente <span class="text-danger">*</span></label>
                        <select class="form-control clientes" name="cboCliente" id="cboCliente">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Titulo <span class="text-danger">*</span></label>
                        <input type="textbox" class="form-control" name="txtTitulo" id="txtTitulo">
                    </div>
                    <div class="form-group">
                        <label>Descripci&oacute;n </label>
                        <textarea class="form-control" name="txaDescripcion" id="txaDescripcion"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Estado <span class="text-danger">*</span></label>
                        <select class="form-control" name="cboEstado" id="cboEstado">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal" id="salirBoletin">Salir</button>
                    <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" id="registarar_boletin">Registrar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Nifty Modal -->
    <div class="md-modal colored-header custom-width-36 md-effect-9" id="modal-tab-pre">

    </div>
    <div class="md-overlay"></div>
</div>
</div>

<!-- Modal Warning -->
<div class="modal fade" id="mod-warning" style="z-index:99999;" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="i-circle warning"><i class="fa fa-warning"></i></div>
                    <h4>Warning!</h4>
                    <p id="idPregunta">¿Está seguro de Eliminar la Noticia?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="btnProceed">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function(){
        App.initDatePicker();

    })

</script>