<div class="page-head">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <h2>Perfiles</h2>
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Administraci&oacute;n</a></li>
                <li class="active">Perfiles</li>
            </ol>
        </div>
    </div>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="block-flat">
                <div class="content">
                    <input type="hidden" name="txtCodigo">
                    <form role="formPerfil">
                        <div class="form-group">
                            <label>Nombre <span class="text-danger">*</span></label>
                            <input type="textbox" class="form-control" maxlength="60" required>
                        </div>
                        <div class="form-group">
                            <label>Descripcion <span class="text-danger">*</span></label>
                            <input type="textarea" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="form-group" id="divIzquierda">
                                <div class="checkbox" ng-repeat="opcion in opciones">
                                    <label><input type="checkbox" class="icheck">{{opcion.siop_nombre}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Estado <span class="text-danger">*</span></label>
                            <select class="form-control" required>
                                <option value='A'>Activo</option>
                                <option value='I'>Inactivo</option>
                            </select>
                        </div>
                        <div class="spacer2 text-center">
                            <button class="btn btn-primary btn-flat md-trigger" data-modal="form-primary" ng-click="ingresar()">Ingresar</button>
                            <button id="btnActualizar" class="btn btn-primary btn-flat md-trigger" data-modal="form-primary" ng-click="actualizar()">Actualizar</button>
                            <button id="btnEliminar" class="btn btn-primary btn-flat md-trigger" data-modal="form-primary" data-toggle="modal" data-target="#mod-warning">Eliminar</button>
                            <button id="btnLimpiar" class="btn btn-primary btn-flat md-trigger" data-modal="form-primary" ng-click="limpiar()">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="block-flat">
                <div class="content">
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Perfil</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="odd gradeA" ng-repeat="perfil in perfiles">
                                <td>{{perfil.perf_nombre}} {{perfil.perf_descripcion}}</td>
                                <td class="text-center"><a style="cursor: pointer" onclick="consultarPerfil(this)"><i class="fa fa-pencil"></i></a><a style="cursor: pointer" data-toggle="modal" data-target="#mod-warning" onclick="cargarCodigo(this);"><i class="fa fa-trash-o color-danger"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Warning -->
<div class="modal fade" id="mod-warning" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="i-circle warning"><i class="fa fa-warning"></i></div>
                    <h4>Warning!</h4>
                    <p>¿Está seguro de Eliminar el Perfil?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="btnProceed">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->