<div class="panel-heading">{{tipo}}</div>
<div class="panel-body">
  <!-- START table-responsive-->
  <div class="table-responsive">
    <!-- START tabla para usuarios -->
    <table class="table table-striped table-bordered table-hover" ng-if="tipo=='usuarios'">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Acciones</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in datalista">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>
          <a  class="fa fa-edit green"></a>
          <a  class="fa fa-times red"></a>
        </td>
      </tr>

      </tbody>
    </table>
    <!-- END tabla de usuarios -->

  </div>
  <!-- END table-responsive-->
</div>

